<!--プロフィール画像-->
<div class="top_container">
    <div class="col-sm-5">
        <div class="profile_image">
            <img src="./image/Frend.jpg">
        </div>
             <!--画像のアップロード-->
         <form action="#" method="post">
            <div class="input_edit_container">
              <input type="submit" value="画像をアップロード" class="image_upload submit_button">
            </div>
        </form>
    </div>
    
    <div class="col-sm-7 user_container">
        
         <!--編集入力-->
         <form action="#" method="post">
            <div class="input_edit_container">
              <h1>プロフィール編集</h1>
              <div class="button_label">ユーザー名:</div>
              <input type="email" name="email" class="input_edit_button">
              <div class="button_label">自己紹介文:</div>
              <textarea name="introduction" class="textarea_edit_form"></textarea>
              <input type="submit" value="完了" class="submit_edit_button">
            </div>
        </form>
    
    </div>

</div>
