@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*メニューバー*/
ul {
  margin: 0;
  padding: 0;
}

/*メニュー*/

#main {
  list-style: none;
  background: black;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  text-align: left;
}
#main li:hover{
  background-color: #00F;
}
#main li {
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  font-size: 15px;
}


/*その他メニュー*/

.menu_bar {
  list-style: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 41px;
}
.inline_element li{
  display: inline;
}
.menu_item a{
  font-size: 15px;
  color: white;
  padding: 10px 15px 10px 15px;
  float: left;
}
.menu_item a:hover{
  text-decoration: none;
  transition: 0.3s;
  background-color: #00F;
}
.menu_item_logout {
  float: right;
}

/*コミュニティ作成ページ*/
/*フォームのデザイン*/
.input_container {
  padding: 30px auto 50px auto;
  background-color: white;
  opacity: 0.8;
  color: black;
  width: 60%;
  margin: 140px auto 0 auto;
  border-radius: 10px;
}

.input_container h1 {
  padding-bottom: 20px;
}

.input_container h2 {
  font-size: 20px;
  color: #666666;
  width: 100%;
  margin: 0 auto 20px auto;
}

.submit_button {
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: #00F;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit_button:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.input_button {
  padding: 10px 0px 0px 10px;
  margin-bottom: 10px;
  width: 100%;
}

.button_label {
  text-align: left;
  display: block;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 30px auto 0 auto;
}

/*レスポンシブ対応*/
/*@media screen and (max-width:400px) {*/
/*  .top_container {*/
/*  display: block;*/
/*  }*/
/*}*/
@media screen and (min-width:768px) {
  .community_item {
  width: 600px;
  }
}
@media screen and (min-width:1024px) {
  .community_item {
  width: 800px;
  }
}

