@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index:1;
}

/*メニューバー*/
ul {
  margin: 0;
  padding: 0;
}
/*ドロップダウンメニュー*/

#main {
  position: absolute;
  top:0;
  left:0;
  list-style: none;
  background: black;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  text-align: left;
}
#main li:hover{
  background-color: #00F;
}
#main li {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  font-size: 15px;
}


/*その他メニュー*/
.menu_bar {
  list-style: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 41px;
  position: absolute;
  top: 0;
}
.inline_element li{
  display: inline;
}
.menu_item a{
  font-size: 15px;
  color: white;
  padding: 10px 15px 10px 15px;
  float: left;
}
.menu_item a:hover{
  text-decoration: none;
  transition: 0.3s;
  background-color: #00F;
}
.menu_item_logout {
  float: right;
}

/*フラッシュ文*/
.alert {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

/*メインコンテンツ*/
.top_container {
  display: block;
  width: 80%;
  margin: 80px auto 0 auto;
}
/*プロフィール画像*/
.profile_image {
  height: auto;
  width: 80%;
  margin: 0 auto;
}
.profile_image img {
  border-radius: 50%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 80%;
  height: auto;
}

.introduction p{
  font-size: 18px
}

.user_container {
  text-decoration: none;
  margin-left: 0px;
}

.user_container h1{
  font-size: 30px;
}

.user_name {
  margin: 0 20px 15px 0;
  font-size: 30px;
}
.profile_edit {
   margin: 20px 0 20px 0; 
}

.profile_edit a{
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #00F;
  cursor: pointer;
}
.profile_edit a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
}

.follow_container {
  margin-bottom: 20px;
}

.follow_container a{
  color: #888888;
}
.follow_container a:hover{
  text-decoration: none;
  color: #555555;
}

.community {
  margin: 20px 0 20px 0;
  font-size: 20px;
}

.community_item {
  background-color: #F5F5F5;
  align-items: center;
  color: black;
  width: 400px;
  margin: 0 auto 15px auto;
  padding: 10px;
}
.community_container a:hover{
  color: black;
  text-decoration: none;
}
.community_title {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.community_title p {
  position: relative;
  top:0;
  left:0px;
  font-size: 12px;
  color: gray;
}

/*ボタン装飾*/
.hover {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hover:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*フォローボタンの装飾*/
.follow_button {
  background-color: #00F;
  color: white;
  padding: 5px 10px;
}

.unfollow_button {
  background-color: #FF3366;
  color: white;
  padding: 5px 10px;
}

.follow_button:hover, .unfollow_button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

/*編集ページ用　ボタンの装飾/
/*フォームのデザイン*/
.input_edit_container h2 {
  font-size: 20px;
  color: #666666;
  width: 100%;
  margin: 0 auto 20px auto;
}

.submit_edit_button {
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: #00F;
  color: white;
  margin-top: 10px;
}
.submit_edit_button:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.input_edit_button {
  padding: 10px 0px 0px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: solid 1px #DDDDDD;
}

.input_edit_form {
  width: 100%;
  border: solid 1px #DDDDDD;
  margin-bottom: 10px;
}
.image_upload_container {
  width: 40%;
  padding: 5px 0 5px 0;
  margin: 0 auto;
}
.button_label {
  text-align: left;
}

/*フッター*/
footer {
  position: relative;
  bottom: 0;
  /*width: 100%;*/
  margin-top: 30px;
}



/*レスポンシブ対応*/
/*@media screen and (max-width:400px) {*/
/*  .top_container {*/
/*  display: block;*/
/*  }*/
/*}*/
@media screen and (min-width:768px) {
  .top_container {
  display: flex;
  }
  .profile_image img{
  height: 90%;
  width: 90%;
  }
  .user_container {
  text-align: left;
  }
  .image_upload {
  width: 55%;
  }
  footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  }
  .community_item {
  width: 400px;
  }
  .user_container {
  margin-left: 30px;
}
}

@media screen and (min-width:1024px) {
  .community_item {
  width: 550px;
  }
}