@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index:1;
}

/*メニューバー*/
ul {
  margin: 0;
  padding: 0;
}
/*ドロップダウンメニュー*/

#main {
  position: absolute;
  top:0;
  left:0;
  list-style: none;
  background: black;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  text-align: left;
}
#main li:hover{
  background-color: #00F;
}
#main li {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  font-size: 15px;
}


/*その他メニュー*/
.menu_bar {
  list-style: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 41px;
  position: absolute;
  top: 0;
}
.inline_element li{
  display: inline;
}
.menu_item a{
  font-size: 15px;
  color: white;
  padding: 10px 15px 10px 15px;
  float: left;
}
.menu_item a:hover{
  text-decoration: none;
  transition: 0.3s;
  background-color: #00F;
}
.menu_item_logout {
  float: right;
}

/*フラッシュ文*/
.alert {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

/*メインコンテンツ*/
.content_wrapper {
  position: relative;
  top: 60px;
}

.follow_title {
  width: 80%;
  margin: 0 auto;
}

.top_container {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-top: solid 1px black;
}
/*プロフィール画像*/
.profile_image {
  position: relative;
  top: 5px;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  width: 100px;
  height: 100px;
  
}

.border {
  width: 60%;
  border-top: solid 1px black;
  margin: 0 auto;
}

.introduction p{
  font-size: 18px
}

.user_container {
  text-decoration: none;
}

.user_container h1{
  font-size: 30px;
}

.user_name {
  display: inline-block;
}

.user_name a{
  /*padding: 0 20px 5px 0;*/
  font-size: 30px;
  color: black;
  text-decoration: none;
}
.user_name a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.profile_edit {
   margin: 20px 0 20px 0; 
}

.profile_edit a{
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #00F;
  cursor: pointer;
}
.profile_edit a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
}

.follow_container {
  margin-bottom: 20px;
}

.follow_container a{
  color: #888888;
}
.follow_container a:hover{
  text-decoration: none;
  color: #555555;
}

/*フォロー解除ボタン*/
.unfollow_button_div {
  display: inline-block;
  margin-left: 20px;
}

/*フォローボタンの装飾*/
.follow_button {
  background-color: #00F;
  color: white;
}

/*アンフォローボタンの装飾*/
.unfollow_button {
  background-color: #FF3366;
  color: white;
}

.follow_button:hover, .unfollow_button:hover {
  opacity: 0.6;
  transition: 0.3s;
}


/*フッター*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

/*レスポンシブ対応*/
/*@media screen and (max-width:400px) {*/
/*  .top_container {*/
/*  display: block;*/
/*  }*/
/*}*/
@media screen and (min-width:768px) {
  .top_container {
  display: flex;
  }
  .profile_image img{
  height: 90%;
  width: 90%;
  }
  .user_container {
  text-align: left;
  }
  .image_upload {
  width: 55%;
  }
  .community_item {
  width: 400px;
  }
  .user_container {
  margin-left: 30px;
}
}

@media screen and (min-width:1024px) {
  .community_item {
  width: 550px;
  }
}