<header>
<!--メニューバー-->
<nav>
  <ul id="main">
    <li>マイページ</li>
    <li>コミュニティ一覧
      <ul class="drop">
        <div>
            <li>アジア</li>
            <li>ヨーロッパ</li>
            <li>北アメリカ</li>
            <li>南アメリカ</li>
            <li>アフリカ</li>
            <li>オセアニア</li>
        </div>
      </ul>
    </li>
    <li>ログアウト</li>
  </ul>
</nav>

</header>